/* CSS for website */
h1 {
 font-size: 200%; 
 color: #EE9325; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: #AAD037; 
 padding-left: 15px;
 }
 h3 {
 font-size: 120%; 
 color: #FFCC3D; 
 padding-left: 15px;
 }
p,ul,li,td {
 color: black; 
 }